/* GROW */
.grow-enter-active {
  transition: transform 0.35s cubic-bezier(0.1, 0.2, 0.3, 0.4);
  /* transition-delay: 0.25s; */
}

.grow-enter-from {
  transform: scale(0.1);
  /* transform-origin: bottom left; */
  opacity: 0;
}

.grow-enter-to {
  transform: scale(1);
  transform-origin: bottom left;
  opacity: 1;
}

.grow-leave-to {
  transform: scale(0.1);
  transform-origin: bottom left;
  opacity: 0;
  /* transition-delay: 0.25s; */
}

.grow-leave-active {
  transition: all 0.85s ease-out;
}

/* FADE IN RIGHT */
.fade-in-right-enter-active {
  transition: all 0.3s ease-out;
  transition-delay: 0.35s;
}

.fade-in-right-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-in-right-enter-from {
  transform: translateX(-50px);
  opacity: 0;
}

.fade-in-right-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

/* FADE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  transition-delay: 0.25s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
